.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  background: transparent;
}
@media (max-width: 900px) {
  .container {
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }
}
